.App {
  text-align: center;
  padding: 15px;

}
.Accordion {
  margin: 0;
  padding: 0;
  border: 1px solid  rgb(209, 209, 209);
  /* border-radius: 7px; */
  width: 40em;
}

.Accordion h3 {
  margin: 0;
  padding: 0;
}

.Accordion.focus {
  border-color:  rgb(33, 33, 33);
}

.Accordion.focus h3 {
  background-color: rgb(247, 247, 247);
}

.Accordion > * + * {
  border-top: 1px solid rgb(209, 209, 209);
}

.Accordion-trigger {
  background: none;
  color: 	rgb(33, 33, 33);
  display: block;
  font-size: 1rem;
  font-weight: normal;
  margin: 0;
  padding: 1em 1.5em;
  position: relative;
  text-align: left;
  width: 100%;
  outline: none;
}

.Accordion-trigger:focus,
.Accordion-trigger:hover {
  background: 	rgb(225, 237, 254);
  color: 	rgb(12, 12, 12);
}

.Accordion *:first-child .Accordion-trigger {
  border-radius: 5px 5px 0 0;
}
.content{
  text-align: left;
}
button {
  border-style: none;
}

.Accordion button::-moz-focus-inner {
  border: 0;
}

.Accordion-title {
  display: block;
  pointer-events: none;
  border: transparent 1px solid;
  border-radius: 5px;
  padding: 0.25em;
  outline: none;
}

.Accordion-trigger:focus .Accordion-title {
  border-color: 	rgb(121, 173, 251);
}

.Accordion-icon {
  border: solid 	rgb(158, 158, 158);
  border-width: 0 2px 2px 0;
  height: 0.5rem;
  pointer-events: none;
  position: absolute;
  right: 2em;
  top: 50%;
  transform: translateY(-60%) rotate(45deg);
  width: 0.5rem;
}

.Accordion-trigger:focus .Accordion-icon,
.Accordion-trigger:hover .Accordion-icon {
  border-color: 	rgb(121, 173, 251);
}

.Accordion-trigger[aria-expanded="true"] .Accordion-icon {
  transform: translateY(-50%) rotate(-135deg);
}

.Accordion-panel {
  margin: 0;
  padding: 1em 1.5em;
  text-align: left;
}

/* For Edge bug https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/4806035/ */
.Accordion-panel[hidden] {
  display: none;
}


main{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}